.leaderboard-grid{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    background: transparent;
    padding: 2rem;
    width:auto;
    height: auto;
}

.leader-board-height{
    width: auto;
    height: 100vh;
    overflow: hidden;
}

.card-list{
    box-shadow: 5px 5px 1.25rem 0 rgb(0 0 0 / 20%);
    padding: 10px;
    text-align: left;
    position: relative;
    flex: 1;
}
                           


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .leaderboard-grid{
        grid-template-columns: 1fr;
    }

    .leader-board-height{
        padding-top: 5rem;
        overflow: hidden;
        height: -webkit-fill-available;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .leaderboard-grid{
        grid-template-columns: 1fr 1fr;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 766px) {
    .leaderboard-grid{
        grid-template-columns: 1fr 1fr ;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .leaderboard-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .leaderboard-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}