.card-body-padding{
    padding: 0;
    padding-bottom: 2rem;
}

.card-night-mood{
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.quiz-card-share{
   display: flex;
   justify-content: space-between;
   align-items: center;
}