.filter-conatiner{
    display: flex;
    column-gap: 2rem;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    width: -webkit-fill-available;
    row-gap: 2rem;
    background: white;
}

.categorytype-conatiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    width: fit-content;
    font-size: 5px;
}

.badge-not{
    height: 4rem;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    text-transform:capitalize;
}

.badge-onselect{
    background: var(--primary-color);
    height: 4rem;
    padding: 0 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
  
}

.filter-select{
    background: var(--BRAND_BLUE);
}

.filter-select:hover{
    background:var(--BG_COLOR_L1);
}

@media only screen and (max-width: 700px) {
  
}